<article class="post">
  <header>
    <h1 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="entry-date"><a href="{{ post.url }}"><time datetime="{{ post.date.isoformat() }}">{{ post.date | nice_date }}</time></a>{% if post.is_draft %} · <span class="preview-tag">draft</span>{% elif post.scheduled %} · <span class="preview-tag">scheduled</span>{% endif %}</div>
  </header>
  <div class="entry-content">
{{ post.content }}
  </div>
  <footer class="entry-footer">
    {% for c in post.categories %}<span class="category">In <a href="/blog/category/{{ c }}">{{ c }}</a></span>{% endfor %}
  </footer>
</article>
